@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-custom-main: #375399;
    --color-custom-mainDark: #4547A1;
    --color-custom-active: #142247;
}

@layer base {
    ul, ol {
        all: revert;
    }
}


p a {
    color: var(--color-custom-main);
}
